/* Container with sidebar and main content side-by-side */
.student-page-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;

}
.admin-main-content{
  margin-top: 10px;
   flex-grow: 1;
  background-color: #ecf0f1; /* light gray */
  padding: 30px;
  overflow-y: auto;
        margin-top: 100px;
}
/* Sidebar styles */
.sidebar {
  width: 220px;
  background-color: #2c3e50; /* dark blue-gray */
  color: white;
  padding: 20px;
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
}

.sidebar-title {
  margin: 0 0 30px 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-links li {
  margin-bottom: 20px;
}
.toggle-announcement-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-announcement-btn:hover {
  background-color: #0056b3;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 12px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #34495e; /* slightly lighter */
}



/* Main content area */
.main-content {
  flex-grow: 1;
  background-color: #ecf0f1; /* light gray */
  padding: 30px;
  overflow-y: auto;
}
