.about-container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1f2937; /* gray-800 */
  background-color: #f9fafb;
    margin-bottom: 40px;
}

.about-hero {
  text-align: center;
  margin-bottom: 40px;
}

.about-title {
  font-size: 2.5rem;
  color:#0D9488;
  margin-bottom: 10px;
}

.about-subtitle {
  font-size: 1.2rem;
  color: #4b5563; /* gray-600 */
}

.about-content h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #0f172a; /* gray-900 */
}

.about-content p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #374151; /* gray-700 */
}

.about-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-content li {
  margin-bottom: 10px;
  line-height: 1.6;
}
